.form {
	display: flex;
	flex-direction: column;
	width: 80%;
    margin: 0 auto;
}
.input {
    background: #EDE6DE;
    color: rgb(188, 70, 40);
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.button {
	margin: 1.5%;
	width: 43%;
    background: RGB(188, 70, 40, 0.7);
    
}

.button {
    background-color: rgb(98,46,71,.7);
    border: none;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2%;
    color: #EDE6DE;
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(188,70,40,0.24),
     0 17px 50px 0 rgba(98,0,0,0.19);
  }
  .button:active {
    background-color: rgb(98,46,71, .8);
    transform: translateY(4px);}