.todo.completed {
    text-decoration: line-through;
    color: gray;
    background-color: rgb(205,189,236);
  }

  .todo{
    border: 1px solid mediumpurple;
    border-radius: 20px;
    font-size:1.5rem;
    width: 80%;
    margin:auto;
    height: 40px;
    text-align: center;
    padding-top: 2%;
    background-color:rgb(154, 125, 211);
    letter-spacing: .2rem;
    color:white;
    margin-bottom:5%
   }
