form {
  display: flex;
  width: 40%;
  justify-content: center;
  margin: 20px auto;
}

.todoContainer {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.paper {
  border-left: 2px solid red;
}

.button-container {
  display: flex;
  width: 150px;
  margin: 0 auto;
  justify-content: space-between;

}