.toDoList {
  .task-enter {
    opacity: 0;
  }
  .task-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .task-exit {
    opacity: 1;
  }
  .task-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
}
