@import url("https://fonts.googleapis.com/css?family=Lato|Roboto+Slab&display=swap");
/*Fonts*/
$headingFont: "Roboto Slab", serif;
$bodyFont: "Lato", sans-serif;

/*Color Palette*/

$deepRed: #b11a21;
$lighterRed: #e0474c;
$blueBeans: #7acfd6;
$lightClassyGrey: #f1f0ee;
$lightFontColor: #ffffff;

$backgroundColor: $blueBeans;
$cardHeaderColor: $lighterRed;
$messageBackgroundColor: $lightClassyGrey;
