.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.notCompleted {
  background-color: white;
  color: black;
  width: 250px;
  padding: 5px;
  border: solid 3px red;
}

.completed {
  width: 250px;
  padding: 5px;
  border: solid 3px grey;
}

input {
  padding: 5px;
}

button {
  margin-left: 10px;
}