@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
  background-image: url("https://images.unsplash.com/photo-1542951827-2150f73a7e90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: 'Pacifico', cursive;
}

.App {
  
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  text-align: center;
}

/* h1 {
  text
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  color: white;
}

button {
  max-width: 300px;
  margin: 5px 5px;
  padding: .8rem 3rem;
  border-style: none;
  border-radius: 3px;
  background-color: rgb(95, 216, 15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button + button {
  margin-left: 0.5rem;
}

input,
textarea {
  padding: 0.9rem;
  margin: 3px;
  font-size: 16px;
  width: 20%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: monospace;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  text-decoration: red line-through;
}