.item {
  font-size: 3rem;
}

.todo.completed {
  text-decoration: line-through;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
