* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
  color: #3c4652;
  background: #b0b2b3
}


.App {
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  color: #1c2e41;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input,
text {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 12px;
  padding: 10px;
  font-size: 16px;
  width: 25%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  max-width: 25%;
  margin: 12px 0;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 1.0rem;
}


.clear-btn {
  max-width: 30%;
  margin: 24px 0;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}
.App-link {
  color: #09d3ac;
}

