
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* My styles */
body{
  background-color: white;
}
.doneParent p{
  font-size: 1.8rem;
  font-family:Montserrat;
}

.doneParent .done{
  text-decoration: line-through;
 
}





#root{
  display: flex;
  justify-content: center;
}
.App{
	width:65%;
	text-align: center;
  background-color: white;	
  margin: 2%;
}

.App .list .card{
  background-color: #8FC1E3;
} 