.todo{
  background: #ffff88;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 16px auto;
  text-align: left;
  cursor: pointer;
  
}
.completed{
  text-decoration: line-through;
}